<title>Chat</title>

<section class="chat-cotainer">
    <div class="root">
        <div class="user-dv=iv"></div>
        <div class="chat-div">
            <div class="user-name"><h1>UserName</h1></div>
            <div class="chat-bot" id="chat-bot"></div>
            <form>
                <input type="text" placeholder="Message">
                <button>Send</button>
            </form>
        </div>
    </div>
</section>