<title>Chat</title>

<section class="chat-cotainer">
    <div class="root">
        <div class="user-div">
            <div class="head">
                <h3>{{username}}.</h3>
                <a href="/auth/logout">Log Out</a>
            </div>
            {{#each user}}
            <div class="users">
                <img src="/img/user-icon.png" alt="user@email.in">
                <div class="info">
                    <p>{{this.email}}</p>
                    <p id="toid" style="display: none;">{{this._id}}</p>
                    <span class="offline">Status</span>
                </div>
            </div>
            {{/each}}
        </div>
        <div class="chat-div">
            <div class="user-name">
                <h1 class="none" id="chat-username">UserName</h1>
                <p id="fromid" style="display: none;">{{fromuser._id}}</p>
            </div>
            <div class="chat-box none" id="chat-box">
                {{!-- message Box--}}
            </div>
            <form class="input-box" id="form">
                <input type="text" placeholder="Message" class="none" id="input">
                <button class="none">Send</button>
            </form>
        </div>
    </div>
</section>

<script src="/js/chat.js"></script>


